{% extends "base.html" %}

{% block content %}

<!-- HEADER SECTION-->
<div class="container">
    <hedaer class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Avengers Assemble</h2>
            <h5>Create an amazing gruop of fighters to battle evil!</h5>
            <div>
            <button class="btn btn-primary">View Our Docs</button>
            <button class="btn btn-primary">Join Our Slack</button>
        </div>     
    </div>
    <!-- Header Image-->
    <div class="col-12 col-md-6">
        <img src="../../static/images/three_new_official_mcu_series_for_disney__by_artlover67_ddepodh-pre.jpeg" alt="Hero Header Image" class="header-image">
    </div>
</hedaer>
</div>
<!-- End of Our Header Section -->

<!-- Start of Middle Section -->

<section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display Your Avengers!</h2>
            <p>You can harness their power!</p>
        </div>
    </section>

<!-- End of Middle Section -->

<!-- Collection of Features -->
<section class="row" id="features-section">
    <div class="col-12 col-md-4">
        <img src="../../static/images/captain_marvel.png" alt="API image" id="api-image">
        <h4>Dedicated API Routes</h4>
        <p>
            If you are a fan of using traditional API routes, we have those for you too!
        </p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/black_widow.png" alt="graphicql-image" id="graphql-image">
        <h4>GRAPHQL API Route</h4>
        <p>
            If you want ALL data from one endpoint, we have that too!
        </p>
    </div>

    <div class="col-12 col-md-4">
        <img src="../../static/images/wanda.png" alt="database image" id="database-image">
        <h4>Backed By a PostgreSQL Database</h4>
        <p>
            All data will be persisted inside a secure Postgres Database
        </p>
    </div>
</section>
<!-- End of Collection of Features -->

<!-- Begin Community Section -->
<section class="row">
    <div class="col-12 col-md-6">
        <img src="../../static/images/three_new_official_mcu_series_for_disney__by_artlover67_ddepodh-pre.jpeg" alt="Drone Image" id="Drone-image">
    </div>
    <div class="col-12 col-md-6">
        <h4>Talk with like-minded Avengers!</h4>
        <p>
            Talk with other devs around the world and collab 
            on projects with your data/ Join our slack channel 
            and give a star to the project on Github!
        </p>
        <div>
            <button class="btn btn-primary">View on Github</button>
            <button class="btn btn-primary">Join our Slack Channel</button>
        </div>
    </div>
</section>

<!-- End of Community Section -->

<!-- Start of Footer -->
<footer class="row" id="footer">
    <div class="col-2 col-md-2">
        <img src="../../static/images/Coding Drones Logo.png" alt="Coding Drones Logo" id="footer-logo">
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Avengers</p>
            <p>Kick Butt</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Avengers</p>
            <p>Kick Butt/p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Avengers</p>
            <p>Kick Butt</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Avengers</p>
            <p>Kick Butt</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
    <div class="col-2 col-md-2">
        <div class="footer-text-flex">
            <h4>Platform</h4>
            <p>Why Avengers</p>
            <p>Kick Butt</p>
            <p>Donate</p>
            <p>Spread The Good Word</p>
            <p>Our Process</p>
        </div>
    </div>
</footer>
</div>


{% endblock content %}